<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WeAiPictureMapper">
    
    <resultMap type="WeAiPicture" id="WeAiPictureResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="aiUrl"    column="ai_url"    />
        <result property="taskId"    column="task_id"    />
        <result property="executeId"    column="execute_id"    />
        <result property="type"    column="type"    />
        <result property="lookId"    column="look_id"    />
        <result property="lookUrl"    column="look_url"    />
        <result property="pid"    column="pid"    />
        <result property="dataStatus"    column="data_status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectWeAiPictureVo">
        select id, name, ai_url, task_id, execute_id, type, look_id, look_url, pid, data_status, del_flag, create_by, create_time, update_by, update_time, remark from we_ai_picture
    </sql>

    <select id="selectWeAiPictureList" parameterType="WeAiPicture" resultMap="WeAiPictureResult">
        <include refid="selectWeAiPictureVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="aiUrl != null  and aiUrl != ''"> and ai_url = #{aiUrl}</if>
            <if test="taskId != null  and taskId != ''"> and task_id = #{taskId}</if>
            <if test="executeId != null  and executeId != ''"> and execute_id = #{executeId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="lookId != null "> and look_id = #{lookId}</if>
            <if test="lookUrl != null  and lookUrl != ''"> and look_url = #{lookUrl}</if>
            <if test="pid != null "> and pid = #{pid}</if>
            <if test="dataStatus != null  and dataStatus != ''"> and data_status = #{dataStatus}</if>
        </where>
    </select>
    
    <select id="selectWeAiPictureById" parameterType="Long" resultMap="WeAiPictureResult">
        <include refid="selectWeAiPictureVo"/>
        where id = #{id}
    </select>

    <insert id="insertWeAiPicture" parameterType="WeAiPicture" useGeneratedKeys="true" keyProperty="id">
        insert into we_ai_picture
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="aiUrl != null">ai_url,</if>
            <if test="taskId != null">task_id,</if>
            <if test="executeId != null">execute_id,</if>
            <if test="type != null">type,</if>
            <if test="lookId != null">look_id,</if>
            <if test="lookUrl != null">look_url,</if>
            <if test="pid != null">pid,</if>
            <if test="dataStatus != null">data_status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="aiUrl != null">#{aiUrl},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="executeId != null">#{executeId},</if>
            <if test="type != null">#{type},</if>
            <if test="lookId != null">#{lookId},</if>
            <if test="lookUrl != null">#{lookUrl},</if>
            <if test="pid != null">#{pid},</if>
            <if test="dataStatus != null">#{dataStatus},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateWeAiPicture" parameterType="WeAiPicture">
        update we_ai_picture
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="aiUrl != null">ai_url = #{aiUrl},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="executeId != null">execute_id = #{executeId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="lookId != null">look_id = #{lookId},</if>
            <if test="lookUrl != null">look_url = #{lookUrl},</if>
            <if test="pid != null">pid = #{pid},</if>
            <if test="dataStatus != null">data_status = #{dataStatus},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWeAiPictureById" parameterType="Long">
        delete from we_ai_picture where id = #{id}
    </delete>

    <delete id="deleteWeAiPictureByIds" parameterType="String">
        delete from we_ai_picture where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>