<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WeBackMapper">
    
    <resultMap type="WeBack" id="WeBackResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="backUrl"    column="back_url"    />
        <result property="backWeId"    column="back_we_id"    />
        <result property="promot"    column="promot"    />
        <result property="type"    column="type"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectWeBackVo">
        select id, name, back_url, back_we_id, promot, type, del_flag, create_by, create_time, update_by, update_time, remark from we_back
    </sql>

    <select id="selectWeBackList" parameterType="WeBack" resultMap="WeBackResult">
        <include refid="selectWeBackVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="backUrl != null  and backUrl != ''"> and back_url = #{backUrl}</if>
            <if test="backWeId != null  and backWeId != ''"> and back_we_id = #{backWeId}</if>
            <if test="promot != null  and promot != ''"> and promot = #{promot}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectWeBackById" parameterType="Long" resultMap="WeBackResult">
        <include refid="selectWeBackVo"/>
        where id = #{id}
    </select>

    <insert id="insertWeBack" parameterType="WeBack" useGeneratedKeys="true" keyProperty="id">
        insert into we_back
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="backUrl != null">back_url,</if>
            <if test="backWeId != null">back_we_id,</if>
            <if test="promot != null">promot,</if>
            <if test="type != null">type,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="backUrl != null">#{backUrl},</if>
            <if test="backWeId != null">#{backWeId},</if>
            <if test="promot != null">#{promot},</if>
            <if test="type != null">#{type},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateWeBack" parameterType="WeBack">
        update we_back
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="backUrl != null">back_url = #{backUrl},</if>
            <if test="backWeId != null">back_we_id = #{backWeId},</if>
            <if test="promot != null">promot = #{promot},</if>
            <if test="type != null">type = #{type},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWeBackById" parameterType="Long">
        delete from we_back where id = #{id}
    </delete>

    <delete id="deleteWeBackByIds" parameterType="String">
        delete from we_back where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>