<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WeClothMapper">
    
    <resultMap type="WeCloth" id="WeClothResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="clothUrl"    column="cloth_url"    />
        <result property="type"    column="type"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectWeClothVo">
        select id, name, cloth_url, type, del_flag, create_by, create_time, update_by, update_time, remark from we_cloth
    </sql>

    <select id="selectWeClothList" parameterType="WeCloth" resultMap="WeClothResult">
        <include refid="selectWeClothVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="clothUrl != null  and clothUrl != ''"> and cloth_url = #{clothUrl}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectWeClothById" parameterType="Long" resultMap="WeClothResult">
        <include refid="selectWeClothVo"/>
        where id = #{id}
    </select>
    
    <select id="selectWeClothMaxId" resultType="Long">
        select max(id) from we_cloth
    </select>

    <insert id="insertWeCloth" parameterType="WeCloth" useGeneratedKeys="true" keyProperty="id">
        insert into we_cloth
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="clothUrl != null">cloth_url,</if>
            <if test="type != null">type,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="clothUrl != null">#{clothUrl},</if>
            <if test="type != null">#{type},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateWeCloth" parameterType="WeCloth">
        update we_cloth
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="clothUrl != null">cloth_url = #{clothUrl},</if>
            <if test="type != null">type = #{type},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWeClothById" parameterType="Long">
        delete from we_cloth where id = #{id}
    </delete>

    <delete id="deleteWeClothByIds" parameterType="String">
        delete from we_cloth where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>